:root{
  --primary-color: #83CFDF;
  --bg-color: #1e1f33;
  --info-color: #292847;
  --text-color: #EBE5E2;
  --transition: all .3s ease 0s;
}

body{
  background-color: var(--bg-color);
  color: var(--text-color);
}

.navbar-brand{
  color: var(--primary-color);
}

.navbar{
  background-color: var(--info-color);
}

.nav-item a{
  color: white;
}

.form-control,
.form-control:focus{
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.form-control::placeholder{
  color: var(--primary-color);
  opacity: .5;
}

.btn{
  background-color: var(--primary-color);
}

.btn:hover{
  color: black;
}

main{
  margin-top: 110px;
}

.movie-img img{
  height: 400px;
  object-fit: cover;
}

.movie-info{
  height: 100px;
  background-color: var(--info-color);
}