:root{
  --primary-color: #83CFDF;
  --bg-color: #1e1f33;
  --info-color: #292847;
  --text-color: #EBE5E2;
  --transition: all .3s ease 0s;
}

body{
  background-color: var(--bg-color);
  color: var(--text-color);
}

.movie{
  width: 300px;
}

.movie-img img{
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.movie-info{
  height: 100px;
  background-color: var(--info-color);
}